*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 html
{
    scroll-behavior: smooth ;
   
} 
body{
    background: #e3e3e7;
}
    

.rosary
{
    display: inline-block; 
    width: 100%;  
    mix-blend-mode: darken;
    border-radius: 5px;
}

 ul,a{
     padding-left:3.5vh;
     line-height: 4.5vh;
     text-decoration: none;
     list-style: none;
     font-size: 2vh;
     color: black;
   
    
 }
 ul{
    border-radius: 3vh;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.2),
    -5px -5px 18px rgba(243, 242, 242,0.3);
 }
.container
 {
     
    position: absolute;
    top: 58vh;
     height: 60vh;
     width: 100%;
     border-radius: 3vh;
     box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.2),
     -5px -5px 18px rgba(243, 242, 242,0.3);
 }
 #b
{
    display: inline-block;
    position: absolute;
    outline: none;
    background:  #e3e3e7;
    border: none;
    height: 8vh;
    width: 8vh;
    border-radius: 20vh;
    left:40vh;
    top: 65vh;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.1),
                -5px -5px 18px rgba(243, 242, 242,0.9);
    font-size: 3.5vh;
    font-family: 'Verdana';
    color: #221f1fd0;
}
#b:active
{
   transition: 5s;
    box-shadow:inset 5px 5px 18px rgba(0, 0, 0, 0.1),
               inset -5px -5px 18px rgba(243, 242, 242,0.9);
}
.w
{
  font-size: 3.5vh;  
  position: absolute;
  left: 2.5vh;
  top:50vh

}
.happy1
{
    border-radius: 10%;
    width: 15vh;
    position: absolute;
    left: 20vh;
    top: 60vh;
}
.happy1p
{
    font-size: 2vh;
    position: absolute;
    top: 80vh;
    left: 0.8vh;
    text-align: center;
    font-weight: 500;
}
.hs1
{
   font-size: 5vh; 
}
.hna1
{
    position: absolute;
    top:74vh;
    left: 42.5vh;
    font-size: 1.5vh;
}
.container2,.container3,.container4
{
    display: inline-block;
    position: absolute;
    top: 125vh;
     height: 65vh;
     width: 100%;
     border-radius: 3vh;
     box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.2),
     -5px -5px 18px rgba(243, 242, 242,0.3); 
}
#c,#d,#e
{
    display: inline-block;
    display: inline-block;
    position: absolute;
    outline: none;
    background:  #e3e3e7;
    border: none;
    height: 8vh;
    width: 8vh;
    border-radius: 20vh;
    left:40vh;
    top: 130vh;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.1),
                -5px -5px 18px rgba(243, 242, 242,0.9);
    font-size: 3.5vh;
    font-family: 'Verdana';
    color: #221f1fd0;
}
#c:active,#d:active,#e:active
{
    display: inline-block;
   transition: 5s;
    box-shadow:inset 5px 5px 18px rgba(0, 0, 0, 0.1),
               inset -5px -5px 18px rgba(243, 242, 242,0.9);
}
.happy2,.happy3,.happy4
{
    display: inline-block;
    border-radius: 10%;
    width: 15vh;
    position: absolute;
    left: 20vh;
    top: 128vh;
}
.hna2,.hna3,.hna4
{
    position: absolute;
    top:140vh;
    left: 42.5vh;
    font-size: 1.5vh;
}
.happy2p,.happy3p,.happy4p
{
    display: inline-block;
    font-size: 2vh;
    position: absolute;
    top: 155vh;
    left: 0.8vh;
    text-align: center;
    font-weight: 500;
}
.hs2,.hs3,.hs4
{
    display: inline-block;
   font-size: 5vh; 
}
/* section id=happy3 */
.happy3
{
    width: 25vh;
    height: 20vh;
    position: absolute;
    top:200vh;
    left: 15vh;
}
.container3
{
    position: absolute;
    top:195vh
}
.happy3p
{
    top:220vh
}
#d
{
    position: absolute;
    top:200vh;
    left:42vh;
}
.hna3
{
    position: absolute;
    top:209vh;
    left: 44vh;
}
/* section id=happy4 */
.container4
{
    position: absolute;
    top: 106em;
}
.happy4
{
    position: absolute;
    top: 110em;
    width: 27vh;
    height: 20vh;
    left: 13vh;
}
#e
{
    position: absolute;
    top: 80em;
    left: 42vh;
}
.happy4p
{
    top: 150em;
}

@media(min-width:1440px)
{
    ul,a
    {
        font-size: 3.6vh;
        line-height: 7vh;
        padding-left: 30vh;
    }
    /* section happy1 */
    .w{
        font-size: 6vh;
        top:143vh;
        left:58vh;
    }
    .container

    {
       
        display:inline-block;
        top:158vh;
        left: 45vh;
        width:157vh;
    }
    .happy1
    {  
        left: 10vh;
        width: 30vh;
        top:165vh
        
    }
    #b
    {
        top:165vh;
        left: 50vh;
        width: 10vh;
        height: 10vh;
    }
    .hna1
    {
        font-size: 2vh;
        top:177vh;
        left: 53vh;

    }
    .hs1
    {
        top:150vh;

    }
    .happy1p
    {
      
        margin-left: 50vh;
         line-height: 6vh;
        text-align: center;
            top:175vh;
            left: 10vh;
            font-weight: bolder;        
           
    }
    /* section happy2 */
    .container2
    {
        display:inline-block;
        top:220vh;
        left: 45vh;
        width:158vh;
    }
    .happy2p
    { margin-left: 50vh;
        line-height: 6vh;
       text-align: center;
           top:240vh;
           left: 10vh;
           font-weight: bolder;

    }
    #c
    {
        top:65em;
        left: 50vh;
        width: 10vh;
        height: 10vh;
    }
    .hna2
    {
        font-size: 2vh;
        top:120em;
        left: 53vh;

    }
    .happy2
    {  
        left: 10vh;
        width: 29vh;
        top:222.5vh
        
    }
    /* section happy3 */
    .container3
    {
        display:inline-block;
        top:135em;
        left: 45vh;
        width:158vh;
    }
    .happy3p
    { margin-left: 50vh;
        line-height: 6vh;
       text-align: center;
           top:152em;
           left: 10vh;
           font-weight: bolder;

    }
    #d
    {
        top:83em;
        left: 50vh;
        width: 10vh;
        height: 10vh;
    }
    .hna3
    {
        font-size: 2vh;
        top:152em;
        left: 53vh;

    }
    .happy3
    {  
        left: 5vh;
        width: 35vh;
        height: 31vh;
        top:143em;
        
    }
    /* section  haapy4 */
    .container4
    {
        display:inline-block;
        top:167em;
        left: 45vh;
        width:158vh;

    }

}